{% extends "bootstrap/base.html" %} {% block title %}Cancel A Booking{% endblock %} {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center mb-4 text-info">Cancel A Booking</h1>
        <form action="" method="POST">
            <div class="form-group">
                <input
                        type="text"
                        name="car_id"
                        class="form-control"
                        placeholder="Car ID"
                        required
                />
            </div>
            <div class="form-group">
                Begin Date: <input
                    type="date"
                    name="begin_date"
                    class="form-control"
                    placeholder="Begin time"
                    required
            />
            </div>
            <div class="form-group">
                Begin Time: <input
                    type="time"
                    name="begin_time"
                    class="form-control"
                    placeholder="Begin time"
                    required
            />
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>



{% endblock %}