{% extends "bootstrap/base.html" %}
{% block title %}Home page for Customer{% endblock %}
{% block navbar %}
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1 class="text-center mb-4 text-info">Customer Home Page</h1>
        {% with username = session['username'] %}
                <h2 class="text-secondary">Welcome, {{ username }}</h2>
        {% endwith %}

        <h2 class="text-center">Available Cars:</h2>

        <table class="table table-responsive">
            <tr>
                <th>&emsp;&emsp;ID&emsp;</th>
                <th>Make&emsp;&emsp;&emsp;</th>
                <th>Body Type&emsp;&emsp;</th>
                <th>Colour&emsp;&emsp;</th>
                <th>Seats&emsp;&emsp;</th>
                <th>Location&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</th>
                <th>Cost Per Hour (AUD)</th>
            </tr>
            {% for car in cars %}
                <tr>
                    <td>&emsp;&emsp;{{ car.id }}</td>
                    <td>{{ car.make }}</td>
                    <td>{{ car.body_type }}</td>
                    <td>{{ car.colour }}</td>
                    <td>{{ car.seats }}</td>
                    <td>
                        <button type="submit" onClick="window.location='/car/location/{{ car.id }}'">Click for
                            Location
                        </button>
                    </td>
                    <td>{{ car.cost_per_hour }}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-info btn-block" type="submit" onClick="window.location='/car/search'">Search
                        Your
                        Car
                    </button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-primary btn-block" type="submit" onClick="window.location='/booking/make'">
                        Make A
                        Booking
                    </button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-secondary btn-block" type="submit"
                            onClick="window.location='/booking/cancel'">
                        Cancel
                        A Booking
                    </button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-danger btn-block" type="submit" onClick="window.location='/logout'">Sign Out
                    </button>
                </div>


            </div>
        </div>


    </div>
{% endblock %}
