{% extends "bootstrap/base.html" %} {% block title %}Register{% endblock %} {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/login">Sign In</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Sign up now!</h1>
                </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <input
                                title="Username must contain between 8 to 15 characters, only UPPER/lowercase, number and hyphen allowed"
                                type="text"
                                name="username"
                                class="form-control"
                                pattern="^(?=.*[a-zA-Z0-9_]).{8,15}$"
                                placeholder="Username"
                                autofocus
                                required
                                onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"
                        />
                    </div>
                    <div class="form-group">
                        <input
                                title="Password must contain at least 8 characters, including UPPER/lowercase, numbers and special characters"
                                type="password"
                                name="password"
                                class="form-control"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
                                placeholder="Password"
                                required
                                onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');"
                        />
                    </div>
                    <div class="form-group">
                        <input
                                type="email"
                                name="email"
                                class="form-control"
                                placeholder="Email"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <input
                                type="text"
                                name="fname"
                                class="form-control"
                                placeholder="First Name"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <input
                                type="text"
                                name="lname"
                                class="form-control"
                                placeholder="Last Name"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <select
                                id="role"
                                name="role"
                                class="form-control"
                                required
                        >
                            <optgroup>
                                <option value="Admin">Admin</option>
                                <option value="Customer">Customer</option>
                                <option value="Engineer">Engineer</option>
                                <option value="Manager">Manager</option>
                            </optgroup>
                        </select>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </form>
            </div>


        </div>


    </div>
{% endblock %}
