{% extends "bootstrap/base.html" %}
{% block title %}Search Car{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Update User Info</h1>
       
        <form action="" method="PUT">
            <div class="form-group">
                <input
                        type="hidden"
                        name="id"
                        class="form-control"
                        placeholder="User ID"
                        placeholder="{{ data.id }}"
                        required
                />
            </div>
            <div class="form-group">
                <input
                        type="text"
                        name="username"
                        class="form-control"                                               
                        placeholder="{{ data.username }}"
                        required
                />
            </div>
            <div class="form-group">
                <input
                        type="text"
                        name="email"
                        class="form-control"
                        value= "{{ data.email }}"
                        placeholder= "{{ data.email }}"
                        required
                />
            </div>
            <div class="form-group">
                <input
                        type="text"
                        name="fname"
                        class="form-control"
                        value= "{{ data.fname }}"
                        placeholder= "{{ data.fname }}"
                        required
                />
            </div>
            <div class="form-group">
                <input
                        type="text"
                        name="lname"
                        class="form-control"
                        value= "{{ data.lname }}"
                        placeholder= "{{ data.lname }}"
                        required
                />
            </div>
            <div class="form-group">
                <select
                        id="user_role"
                        name="role"
                        class="form-control"
                        value = "{{ data.role }}"
                        placeholder = "{{ data.role }}"
                        required
                >
                <script>
                    var user_role = '{{ data.role }}';
                    switch(user_role){
                        case "Admin":
                            document.getElementById("admin").setAttribute("selected", True);
                            break;
                        case "Customer":
                            document.getElementById("customer").setAttribute("selected", True);
                            break;
                        case "Engineer":
                            document.getElementById("engineer").setAttribute("selected", True);
                            break;
                        case "Manager":
                            document.getElementById("manager").setAttribute("selected", True);
                            break;
                    }


                </script>
                    <optgroup>
                        <option value="Admin" id = "admin">Admin</option>
                        <option value="Customer" id = "customer">Customer</option>
                        <option value="Engineer" id = "engineer">Engineer</option>
                        <option value="Manager" id = "manager">Manager</option>
                    </optgroup>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      
    </div>
{% endblock %}