{% extends "bootstrap/base.html" %}
{% block title %}Update Car Infor{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarShare.co</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center mb-4 text-info">Update Car {{ data.id }} Info</h2>
       
        <form action="" method="POST">
            <div class="form-group">
                <input
                        type="hidden"
                        name="id"
                        class="form-control"
                        value= "{{ data.id }}"
                        required
                />
            </div>
            <div class="form-group">
                Make: <input
                        type="text"
                        name="make"
                        class="form-control"
                        placeholder= "{{ data.make }}"
                        value= "{{ data.make }}"
                        required
                />
            </div>
            <div class="form-group">
                Body Type: <input
                        type="text"
                        name="body_type"
                        class="form-control"
                        value= "{{ data.body_type }}"
                        placeholder= "{{ data.body_type }}"
                        required
                />
            </div>
            <div class="form-group">
                Colour: <input
                        type="text"
                        name="colour"
                        class="form-control"
                        value= "{{ data.colour }}"
                        placeholder= "{{ data.colour }}"
                        required
                />
            </div>
            <div class="form-group">
                Number of Seats: <input
                        type="number"
                        name="seats"
                        class="form-control"
                        value= "{{ data.seats }}"
                        placeholder= "{{ data.seats }}"
                        required
                />
            </div>
            <div class="form-group">
                Location: <input
                        name="location"
                        class="form-control"
                        value= "{{ data.location }}"
                        placeholder= "{{ data.location }}"
                        required
                />
            </div>
            <div class="form-group">
                Cost per Hour: <input
                        type="text"
                        name="cost_per_hour"
                        class="form-control"
                        value= "{{ data.cost_per_hour}}"
                        placeholder= "{{ data.cost_per_hour}}"
                        required
                />
            </div>
            <div class="form-group">
                <label for="booked">Is the car booked?  </label>
                <select id="booked" name="booked">
                    <option id="havebooking" value=1>Yes</option>
                    <option id="nobooking" value=0>No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="have_issue">Does the car have issue?  </label>
                <select id="have_issue" name="have_issue">
                    <option id="issue" value=1>Yes</option>
                    <option id="noissue" value=0>No</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      
    </div>
    <script>
        var booked = '{{ data.booked }}';
        if (booked == "False"){
            document.getElementById("nobooking").setAttribute("selected","selected");
        }
        else {
            document.getElementById("havebooking").setAttribute("selected", "selected");
        }
        
        var have_issue = '{{ data.have_issue }}';
        if (have_issue == "False"){
            document.getElementById("noissue").setAttribute("selected", "selected");
        }
        else{
            document.getElementById("issue").setAttribute("selected", "selected");
        }
    </script>
{% endblock %}